  <nav class="navbar navbar-light bg-light">
      <div class="row">
          <div class="col-md-4">
            <small class="navbar-brand mb-0 h1">Line<span class="tem">Road</span></small>
          </div>
          <div class="col-md-4 ss">
           <span><u>BAG</u></span>-------ADDRESS------PAYMENT
          </div>
          <div class="col-md-4 rr">
              <img src="../../assets/mycart.jpg">

          </div>
</div>
  </nav>
  <div class="contain">
      <img src="../../assets/mycart1.jpg">
      <h3>Hey, it feels so light!</h3>
      <h6>There is nothing in your bag,Lets add some items.</h6>
      <button (click)="address()">ADD ITEMS FROM WATCHLIST</button>
  </div>
