//Header
.navbar{
    margin:0.5px;
    overflow:hidden;
    // background:#fff;
    z-index:100;
    box-sizing:border-box;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  .sticky + .navbar {
    padding-top:30px;
    
  }
.navbar-brand{
    color:red;
    font-size:22px;
    // font-family: 'Roboto Slab', serif;
    font-family: 'Monoton', cursive;
   letter-spacing:2px;
    font-weight:bold;
}
.navbar-brand span{
    color:#fde81d;
}


//Search box
.form-control{
    width:600px;
    position:relative;
    left:6%;
    top:8px;
    border-radius:12px;
    border:1px solid black;
    
    
}
::-webkit-input-placeholder{
    padding-left:50px;
    font-family: 'Syne', sans-serif;
    font-size:15px;
    letter-spacing:3px;
}
.icon{
    position:relative;
    top:-19px;
    left:10%;
}
input:focus {
    padding-left:50px;

}
//Navbar
.navbar{
    height:12vh;
     background:rgba(254, 72, 72, 0.94);
    // background:black;
    // background:#fff;
}
// NavItem
.first{
  margin:7px;
  padding:7px;
  text-align:center;
  font-weight:bold;
 font-size:18px;
 cursor:pointer;
}
//NavItem
.second{
    position:relative;
    left:35%;
    top:3px;
    margin:5px;
    padding:5px;
}
.second .fa{
  margin:2px;
  padding:7px;
  cursor:pointer;
  color:#fff;
  background:black;
  border-radius:50%;

}

//second

.col-md-8 img{
    width:1120px;
    height:50vh;
}
.form-box{
    width:360px;
    // border:1px solid red;   
    height:50vh;
    border-left:1px solid lightgray;
    position:relative;
    left:10%;
    
}
.form-box img{
    width:100px;
    position:relative;
    left:30%;
}
.form-box p{
    text-align:center;
    font-size:16px;
    font-family:sans-serif;
    position:relative;
    left:-5%;
}
.form-box p::after{
    content:"";
    display:block;
    width:100px;
    height:4px;
    position:relative;
    margin:auto;
    background:black;
    top:25px;
}
.form-box h6{
    font-size:14px;
    text-align:center;
}
.form-box input{
    width:80%;
    margin-left:30px;
    border-radius:5px;
}
.form-box button{
    margin:15px auto;
    position:relative;
    left:35%;
    width:100px;
    background:green;
    text-align:center;
    color:#fff;
    border-radius:10px;

}

//Products
.ss{
    margin-top:20px;    
    //   background:lightslategrey;
    margin-left:14px;
    // margin-right:5px;
    position:relative;
    left:7%;
}

.card:hover{
    transform:scale(1.05);
    transition:transform 0.5s;
    box-shadow: 17px 14px 5px 1px rgba(0,0,0,0.75);

}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.contain{
    position:relative;
}
.contain:hover .overlay{
    opacity:1;  
}
.overlay button{
    background:red;
    color:#fff;
    width:100px;
    border-radius:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.overlay button:hover{
    background:rgb(99, 99, 156);
}
.card-body{
    // background:rgba(33, 72, 145, 1);
    background:#fff;

}
.card-body h5{
    text-align:left;
    padding-left:5px;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
    word-wrap:8px;
}
.card-body h6{
    text-align:left;
    font-size:20px;
    padding:2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    color:red;
    margin:2px;
    font-size:16px;
}

.card-title{
    color:rgb(0, 0, 77);

}
.card-text{
    color:rgb(99, 99, 156);
}
.card img{
    cursor:pointer;
}
.btn{
    position:relative;
    left:25%;
}

